img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 45vw;
  height: 100svh;
  overflow: hidden;
}

.slider__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  background-color: #000;
  padding: 0.2rem 0.4rem;
  pointer-events: none;
  z-index: 2;
}

.thumbnail-wheel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}

.thumbnail-wheel__item {
  position: absolute;
  width: 50px;
  height: 75px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .slide {
    width: 75vw;
  }

  .thumbnail-wheel__item {
    width: 20px;
    height: 30px;
  }
}
